<h3>物业员工菜单</h3>
<ul class="menu">
    <li><a href="{% url 'staff_dashboard' %}">&#9679; 工作台</a></li>
    <li><a href="{% url 'staff_owner_list' %}">&#128100; 业主管理</a></li>
    <li><a href="{% url 'staff_house_list' %}">&#127968; 房屋管理</a></li>
    <li><a href="{% url 'staff_fee_list' %}">&#128176; 物业费管理</a></li>
    <li><a href="{% url 'staff_repair_list' %}">&#128295; 报修处理</a></li>
    <li><a href="{% url 'staff_complaint_list' %}">&#128172; 投诉建议</a></li>
    <li><a href="{% url 'staff_visitor_list' %}">&#128587; 访客管理</a></li>
    <li><a href="{% url 'staff_notice_list' %}">&#128240; 公告管理</a></li>
    <li><a href="{% url 'staff_statistics' %}">&#128202; 统计报表</a></li>
</ul>
